@import "tailwindcss";
@import "./styles/themes.css";
@import "./styles/pages/summarize.css";
@import "./styles/components/index.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

* {
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

form {
  @apply h-full;
}

img {
  @apply pointer-events-none;
}

.error-message {
  @apply flex items-center gap-1 absolute left-1/2 -translate-x-1/2;
  @apply text-[16px] font-bold bg-[#b24a4a] text-[#ffcece] px-2.5 py-1.5 w-fit rounded-sm;
}

[disabled] {
  @apply opacity-30 cursor-not-allowed pointer-events-none;
}
